html{
	font-family: consolas;
	color: royalblue;
	background-image:url("fond-site.gif");
	background-color: black;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

li.before{
  list-style-type: "↩ ";
}

li.after{
  margin-left: 80%;
  float:left;
  margin-right:100px;
  margin-left: 50px;
  list-style-type: "↪ ";
}

.section-index{
  padding-top: 80px;
}

td#tbl_compe_case{
  border-collapse: collapse;
  padding: 10px;
  border-bottom: 2px solid darkorange;
  text-align: center;
}

table#tbl_compe{
  padding: 10px;
  border: 2px solid pink;
  border-radius: 5px;
  text-align: center;
}

a:link{
  color: lawngreen;
  text-decoration: none;
}

a:visited{
  color: lawngreen;
}

a:hover{
  color: powderblue;
  text-decoration: underline;
}

#soon{
  color: ghostwhite;
  text-align: center;
  padding-top: 6%;
}